// Подключаем переменные
@import 'feature/_vars';

// Подключаем миксины
@import 'feature/mixins';

// Подключаем шрифты
@import 'fonts/fonts';

html{
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Roboto-Regular", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

*, *:before, *:after{
	box-sizing: inherit
}


h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}


p{
	margin: 0;
	line-height: 1.5;
}



ul{
	margin: 0;
	padding: 0;
}


// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
// @import 'sprite/sprite'

// Стили шапки
@import 'modules/header';

// Стили меню
// @import 'modules/menu'

// Стили главной страницы
@import 'pages/index';

// Стили футера
@import 'modules/footer';

// Стили мобильного меню
@import 'modules/hidden';



